.character {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  font-family: boogaloo;

  &__character__data__image {
    padding: 5rem;
  }
  &__character__data__primary {
    display: flex;
    font-size: 5rem;
  }
}
