.menu {
  p {
    display: flex;
    justify-content: center;
  }

  ul {
    display: inline-block;
    margin: 0;
    justify-content: center;
  }

  li {
    display: inline-block;
    list-style: none;
    margin: 1rem;
  }
}
