button {
  margin-top: 1rem;
  width: 20rem;
  height: 3rem;
  background-color: rgba(159, 205, 41, 1);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.text_left_button {
  position: absolute;
  top: 85%;
  left: 50%;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  font-family: boogaloo, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.text_right_button {
  position: absolute;
  top: 85%;
  right: 50%;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  font-family: boogaloo, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.buttons {
  display: flex;
  justify-content: center;

  margin-top: 0;
}

.disabled {
  display: none;
}
