@media screen and (min-width: 300px), (max-width: 800px) {
  .footer {
    display: flex;
    align-content: center;
    justify-content: center;

    .h2 {
      bottom: 0;
      width: 100%;
      color: greenyellow;
    }
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    color: greenyellow;

    padding: 0;
  }
}
.h2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}
